{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'nav_bar.html' %}

<div class="container emp-profile">
            <form method="post">
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-img">
                            <img src="https://i.pinimg.com/474x/23/9d/1f/239d1f4835e9e0be61d9d4bf170a2468.jpg" alt=""/>
                            <div class="file btn btn-lg btn-primary">
                                Change Photo
                                <input type="file" name="file"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="profile-head">
                                    <h5>
                                        {% if user.is_superuser %}
                                        {{user}} <label class="badge badge-success">{{user.user_role_id}}</label><br>
                                        <small style="font-size:10px;">Date Joined: {{user.date_joined|date:'Y:m:d'}} | Last Login: {{user.last_login|date:'Y:m:d'}}</small>

                                        {% else %}
                                        {{user}} <label class="badge badge-info">User</label>
                                        {% endif %}
                                        {% if user.is_active %}
                                        <label class="badge badge-success" style="font-size:12px">Online</label>
                                        {% else %}
                                        <label class="badge badge-danger">Offline</label>
                                        {% endif %}
                                    </h5>
                                    <h6>
                                       {{user.profession}}
                                    </h6>
                                    <p class="proile-rating">RANKINGS : <span>8/10</span></p>
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Timeline</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <form method="post">
                            {% csrf_token %}
                            <a href="/update_profile/{{user.id}}" class="btn btn-info" role="button" name="btnAddMore">Edit profile</a>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-work">
                            <p>WORK LINK</p>
                            {% if user.work_id.link %}
                            <a href="http://{{user.work_id.link}}" target="blank">Website Link</a><br/>
                            {% else %}
                            <a></a>
                            {% endif %}
                            {% if user.work_id.face_book %}
                            <a href="http://{{user.work_id.face_book}}" target="blank">Facebook Profile</a><br/>
                            {% else %}
                            <a></a>
                            {% endif %}
                            {% if user.work_id.linked_in %}
                            <a href="http://{{user.work_id.linked_in}}" target="blank">LinkedIn Profile</a>
                            {% else %}
                            <a></a>
                            {% endif %}
                            <p>SKILLS</p>
                            <a href="">Penetration Tester</a><br/>
                            <a href="">Web Developer</a><br/>
                            <a href="">WordPress</a><br/>
                            <a href="">WooCommerce</a><br/>
                            <a href="">JAVA, PYTHON</a><br/>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>User Id</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{user.id}}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Name</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{user.get_full_name}}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Email</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{user.email}}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Profession</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{user.profession}}</p>
                                            </div>
                                        </div>
                            </div>
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Experience</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>Expert</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Hourly Rate</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>10$/hr</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Total Projects</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>230</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>English Level</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>Expert</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Availability</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>6 months</p>
                                            </div>
                                        </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Your Bio</label><br/>
                                        <p>Your detail description</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
{% endblock %}